@import "tailwindcss";

@theme {
  --color-berger-brown: #504239;
  --font-hebrew: "Noto Sans Hebrew", sans-serif;
  --default-font-family: var(--font-hebrew);
}

@layer base {
  html {
    @apply font-hebrew text-black bg-white;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-light tracking-wide text-black;
  }
}
